services:
  postgres:
    image: postgres:18.1-alpine
    volumes:
      - db_data:/var/lib/postgresql/18/docker
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-masterpassword}
    ports:
      - "5432:5432"

  redis:
    image: redis:8.4.0-alpine
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"

volumes:
  db_data:
  redis_data: